body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 800px;
    background-color: lightgrey;
    padding: 20px;
    gap: 40px;
}

.display {
    background-color: white;
    border: 1px solid black;
    flex-basis: 10%;
}

.inputs {
    display: flex;
    flex-basis: 90%;
    gap: 20px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    background-color: white;
    border: 1px solid black;
}

.operators {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    background-color: white;
    border: 1px solid black;
}

.numbers div {
    flex-basis: calc(33.33%); /* each box takes up 1/3 of the numbers flexbox container */
    box-sizing: border-box;
    border: 1px solid black;
    
    display: flex;
    align-items: center;  
    justify-content: center;  
    font-size: 70px;  
}

.operators div {
    flex-basis: 100%;
    box-sizing: border-box;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px; 
}